<a href="https://colab.research.google.com/github/rwguerra/Analista-Machine-Learning-IGTI/blob/main/trabalho_pratico_modulo_2_IGTI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Trabalho Prático do Módulo 2 do Bootcamp Analista Machine Learning IGTI**

In [ ]:
## Importando os módulos básicos que utilizaremos
import pandas as pd
import numpy as np

Neste trabalho iremos utilizar um *dataset* sobre alugueis de bicicletas por hora.

In [ ]:
## carregamos o dataset para um dataframe pandas
df_bike = pd.read_csv('https://pycourse.s3.amazonaws.com/bike-sharing.csv')
df_bike.head() #print as 5 primeiras linhas do dataframe

     datetime  rec_id  season  year  ...  windspeed  casual  registered  total_count
0  2011-01-01       1       1     0  ...        0.0       3          13           16
1  2011-01-01       2       1     0  ...        0.0       8          32           40
2  2011-01-01       3       1     0  ...        0.0       5          27           32
3  2011-01-01       4       1     0  ...        0.0       3          10           13
4  2011-01-01       5       1     0  ...        0.0       0           1            1

[5 rows x 17 columns]

**Questão 1 - Qual o tamanho desse dataset (número de linhas, número de colunas)?**
R: 17379 linhas e 17 colunas

In [ ]:
df_bike.shape #propriedade que retorna a forma do dataframe em (linhas,colunas)

(17379, 17)

**Questão 2 - Qual a média da coluna windspeed?**
R: 0.1900976063064631

In [ ]:
df_bike.windspeed.mean() #método que retorna a média da coluna windspeed

0.1900976063064631

**Questão 3 - Qual a média da coluna temp?** R: 0.4969871684216586

In [ ]:
df_bike.temp.mean() #método que retorna a média da coluna temp

0.4969871684216586

**Questão 4 - Quantos registros de locações existem para o ano de 2011 (número de linhas, número de colunas)?** R: (8645, 17)

In [ ]:
## Já vimos lá em cima que a coluna datetime contem as datas das locacoes, agora precisamos saber qual o tipo de dados temos nessa coluna
df_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           17379 non-null  object
 1   rec_id             17379 non-null  int64
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   is_holiday         17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   is_workingday      17379 non-null  int64
 9   weather_condition  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  total_count        17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [ ]:
# podemos perceber que a coluna (feature) datetime é do tipo object, ou seja, podemos afirmar que é do tipo categorica e não numeral
# agora vamos checar um dos itens para saber que tipo é:
type(df_bike.datetime[1])

str

In [ ]:
# sabemos que a coluna contem apenas strings, ou seja, texto.... sabendo que esse texto tem formato de data, poderemos usar um método do pandas
#para transformar essa coluna em data.
df_bike.datetime = pd.to_datetime(df_bike.datetime) #converte a coluna datetime para o tipo datetime (antes era tipo string)

In [ ]:
# agora poderemos selecionar quantos registros de locações existem para o ano de 2011 (número de linhas, número de colunas)
df_bike[df_bike.datetime.dt.year == 2011].shape # aqui eu peguei o dataframe, e filtrei pela coluna datetime, onde o ano (dt.year) é igual a 2011 e usei .shape para saber a forma

(8645, 17)

**Questão 5 - Quantos registros de locações existem para o ano de 2012 (número de linhas, número de colunas)?** R: (8734, 17)

In [ ]:
df_bike[df_bike.datetime.dt.year == 2012].shape # mesma coisa da questão anterior, mudando apenas o ano!

(8734, 17)

**Questão 6 - Quantas locações de bicicletas foram efetuadas em 2011?** R: 1.243.103

In [ ]:
# Vamos aproveitar o código anterior com algumas pequenas modificações
df_bike[df_bike.datetime.dt.year == 2011].total_count.sum() #veja que em vez de pegar o shape, selecionamos a coluna total_count e fizemos a soma dos valores

1243103

**Questão 7 - Quantas locações de bicicletas foram efetuadas em 2012?** R: 2.049.576

In [ ]:
df_bike[df_bike.datetime.dt.year == 2012].total_count.sum() # mudando apenas o ano....

2049576

**Questão 8 - Qual estação do ano contém a maior média de locações de bicicletas?** R: estação 3

**Questão 9 - Qual estação do ano contém a menor média de locações de bicicletas?** R: estação 1

In [ ]:
# vamos utilizar um método do pandas chamado grupby para agrupar a coluna season pela média da coluna total_count.
# a parte do reset_index é para adicionar a coluna média e adicionar as médias para esta coluna
df_media_season = df_bike.groupby(['season']).total_count.mean().reset_index(name='Media')
display(df_media_season)#funcao do notebook para "printar" o dataframe bonitinho

# apenas arranjos para fazer um print da maior e menor média
print(f'Maior média é a season {df_media_season[df_media_season.Media==df_media_season.Media.max()].season.iloc[0]}') 
print(f'Menor média é a season {df_media_season[df_media_season.Media==df_media_season.Media.min()].season.iloc[0]}')

   season       Media
0       1  111.114569
1       2  208.344069
2       3  236.016237
3       4  198.868856

Maior média é a season 3
Menor média é a season 1

**Questão 10 - Qual horário do dia contém a maior média de locações de bicicletas?** R: 17

**Questão 11 - Qual horário do dia contém a menor média de locações de bicicletas?** R: 4

In [ ]:
# podemos utilizar o groupby para agrupar a coluna de horas do dia e saber a média de locacoes
df_media_hora = df_bike.groupby(['hour']).total_count.mean().reset_index(name='Media')

print(f'Maior média é as {df_media_hora[df_media_hora.Media==df_media_hora.Media.max()].hour.iloc[0]} horas')
print(f'Menor média é as {df_media_hora[df_media_hora.Media==df_media_hora.Media.min()].hour.iloc[0]} horas')
display(df_media_hora) #funcao do notebook para "printar" o dataframe bonitinho

Maior média é as 17 horas
Menor média é as 4 horas

    hour       Media
0      0   53.898072
1      1   33.375691
2      2   22.869930
3      3   11.727403
4      4    6.352941
5      5   19.889819
6      6   76.044138
7      7  212.064649
8      8  359.011004
9      9  219.309491
10    10  173.668501
11    11  208.143054
12    12  253.315934
13    13  253.661180
14    14  240.949246
15    15  251.233196
16    16  311.983562
17    17  461.452055
18    18  425.510989
19    19  311.523352
20    20  226.030220
21    21  172.314560
22    22  131.335165
23    23   87.831044

**Questão 12 - Que dia da semana contém a maior média de locações de bicicletas?** R: 4

**Questão 13 - Que dia da semana contém a menor média de locações de bicicletas?** R: 0

In [ ]:
#Veja que continuamos a trabalhar com maiores e menores médias, porém de features diferentes... aproveitando o código temos:
df_media_dia = df_bike.groupby(['weekday']).total_count.mean().reset_index(name='Media')

print(f'Maior média é no {df_media_dia[df_media_dia.Media==df_media_dia.Media.max()].weekday.iloc[0]} dia da semana')
print(f'Menor média é no {df_media_dia[df_media_dia.Media==df_media_dia.Media.min()].weekday.iloc[0]} dia da semana')
display(df_media_dia) #funcao do notebook para "printar" o dataframe bonitinho

Maior média é no 4 dia da semana
Menor média é no 0 dia da semana

   weekday       Media
0        0  177.468825
1        1  183.744655
2        2  191.238891
3        3  191.130505
4        4  196.436665
5        5  196.135907
6        6  190.209793

**Questão 14 - Às quartas-feiras (weekday = 3), qual o horário do dia contém a maior média de locações de bicicletas?** R: 17

In [ ]:
# É a mesma questão da média de locações com base no horário, só que agora ele quer apenas do weeday 3...
# Então basta ajustarmos o código um pouco adicionando [df_bike.weekday==3] que irá separar apenas os dados do weekday = 3
df_media_hora = df_bike[df_bike.weekday==3].groupby(['hour']).total_count.mean().reset_index(name='Media')

print(f'Maior média é as {df_media_hora[df_media_hora.Media==df_media_hora.Media.max()].hour.iloc[0]} horas')
display(df_media_hora) #funcao do notebook para "printar" o dataframe bonitinho

Maior média é as 17 horas

    hour       Media
0      0   34.557692
1      1   15.336538
2      2    7.813725
3      3    4.888889
4      4    4.968750
5      5   25.750000
6      6  107.807692
7      7  303.980769
8      8  488.326923
9      9  238.528846
10    10  131.894231
11    11  152.201923
12    12  193.903846
13    13  185.826923
14    14  170.548077
15    15  181.288462
16    16  272.961538
17    17  513.144231
18    18  494.029126
19    19  357.504854
20    20  256.660194
21    21  194.669903
22    22  143.689320
23    23   83.737864

**Questão 15 - Aos sábados (weekday = 6), qual o horário do dia contém a maior média de locações de bicicletas?** R: 13

In [ ]:
# Identico ao caso anterior, apenas mudando o weekday de 3 pra 6
df_media_hora = df_bike[df_bike.weekday==6].groupby(['hour']).total_count.mean().reset_index(name='Media')

print(f'Maior média é as {df_media_hora[df_media_hora.Media==df_media_hora.Media.max()].hour.iloc[0]} horas')
display(df_media_hora) #funcao do notebook para "printar" o dataframe bonitinho

Maior média é as 13 horas

    hour       Media
0      0   94.304762
1      1   67.780952
2      2   50.495238
3      3   22.885714
4      4    7.657143
5      5    8.291262
6      6   21.000000
7      7   45.961905
8      8  114.476190
9      9  186.790476
10    10  263.723810
11    11  328.609524
12    12  375.380952
13    13  385.371429
14    14  381.333333
15    15  382.428571
16    16  366.142857
17    17  334.409524
18    18  292.048077
19    19  239.932692
20    20  180.865385
21    21  156.000000
22    22  139.663462
23    23  115.855769